/* ---------------------------------------------------------
 HTML5 Bones
 This stylesheet contains print styling and a section for
 you to simply add your own. This is a basic template
 after all.
 ---------------------------------------------------------*/

body {
  font-family: sans-serif;
  background: #E6E7E3;
  color: #333333;
}


/* Default link styling */
a:link {
  color:#254CD1}
a:visited { color:#9C0CE8; }
a:hover, a:focus { color:#E74C3C; }
a:active { color:#B23921; }

/* ---------------------------------------------------------
    #HEADER SECTION
---------------------------------------------------------*/

.row {
  background-color: #E74A3C;
  border-bottom: 1px solid #C74134;
  padding: .7em;
  color: #fff;
  font-size: .95em;
}

.row h2{
margin:0 0 -7px 0;
padding: 0;
}

.row nav{
float:right;
margin-top:-.9em;
}

.row a, .row a:hover, .row a:visited{
color: #fff;
text-decoration: none;
}

/* ---------------------------------------------------------
    #WRAPPER SECTION
---------------------------------------------------------*/

.wrap {
  position: relative;
  padding: 1em 1.5em;
  margin: .5em;
  background: #fff;
  border: 1px solid #D9D9D9;
}

.main {

}

/* ---------------------------------------------------------
    #FOOTER SECTION
---------------------------------------------------------*/

footer {
  text-align: center;
  margin:1em;
  color: #686967;
}

/* ---------------------------------------------------------
   INDEX PAGE
---------------------------------------------------------*/

.note-box {
  border:1px solid #D6D6D6;
  background: #F7F7F5;
  padding: 0em 1em 0em 1em;
  margin: 1em 0em 1em 0em;
}

.post-list {
  -webkit-columns: 3 250px;
  -moz-columns: 3 250px;
  columns: 3 250px;
  border:1px solid #E6E6E6;
  padding: .5em;
  margin-bottom: 1em;
}

.post-list ul{
    padding: 0 0 0 1em;
    margin: 0;
}

.post-list li{
}

.post-list li a{
text-decoration: none;
font-family: sans-serif;
font-size:.85em;
}

.repo_link a{
  font-size:.75em;
  text-decoration:none;
}

/* ---------------------------------------------------------
Print styles
---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure {
        margin-bottom:1em;
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}
